[project]
	description = Visualize your HDFS cluster usage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Antonios Chalkiopoulos (Antwnis)
[access "refs/for/refs/*"]
	read = group user/Antonios Chalkiopoulos (Antwnis)
	push = group user/Antonios Chalkiopoulos (Antwnis)
	label-Code-Review = -2..+2 group user/Antonios Chalkiopoulos (Antwnis)
	label-Verified = -1..+1 group user/Antonios Chalkiopoulos (Antwnis)
	rebase = group user/Antonios Chalkiopoulos (Antwnis)
	removeReviewer = group user/Antonios Chalkiopoulos (Antwnis)
	submit = group user/Antonios Chalkiopoulos (Antwnis)
[access "refs/heads/*"]
	read = group user/Antonios Chalkiopoulos (Antwnis)
	create = group user/Antonios Chalkiopoulos (Antwnis)
	push = +force group user/Antonios Chalkiopoulos (Antwnis)
	pushMerge = group user/Antonios Chalkiopoulos (Antwnis)
[access "refs/tags/*"]
	push = +force group user/Antonios Chalkiopoulos (Antwnis)
	pushTag = group user/Antonios Chalkiopoulos (Antwnis)
	pushSignedTag = group user/Antonios Chalkiopoulos (Antwnis)
